<ion-content>
  
  <ion-slides #slides class="mainSlide">
    
    <ion-slide >
      
      <form (ngSubmit)="login(fLogin)" #fLogin="ngForm">
        <ion-grid fixed>
          
          <ion-row>
            <ion-col>
              <img src="{{this.usuario.avatar ||'/assets/avatars/av-1.png'}}">
            </ion-col>
          </ion-row>
          
          <ion-row>
            <ion-col>
              
              <ion-list>
                
                <ion-item>
                  <ion-label>Email</ion-label>
                  <ion-input name="email"
                  type="email"
                  [(ngModel)]="usuario.email"
                  placeholder="Email"
                  email
                  required></ion-input>
                </ion-item>
                
                <ion-item>
                  <ion-label>Password</ion-label>
                  <ion-input name="password"
                  type="password"
                  placeholder="Contraseña"
                  [(ngModel)]="usuario.password"
                  required></ion-input>
                </ion-item>
                
              </ion-list>
            </ion-col>
          </ion-row>
          
          <ion-row>
            <ion-col>
              <ion-button type="submit"
              color="tertiary"
              shape="round"
              >
              Login
            </ion-button>
          </ion-col>
        </ion-row>
        
      </ion-grid>
    </form>
    
    
  </ion-slide>
  
  <ion-slide>
    
    <ion-grid fixed>
      
      <app-avatar-selector (avatarSel) ="GetChildData($event)"></app-avatar-selector>
      
      <form (ngSubmit)="registro(fRegistro)" #fRegistro="ngForm">
        <ion-row>
          <ion-col>
            
            <ion-list>
              
              <ion-item>
                <ion-label>Email</ion-label>
                <ion-input name="email" 
                type="email"
                placeholder="Ingrese un email válido"
                [(ngModel)]="usuario.email"
                email
                required></ion-input>
              </ion-item>
              
              <ion-item>
                <ion-label>Nombre</ion-label>
                <ion-input name="nombre"
                type="text"
                minlength="2"
                placeholder="Mínimo 2 caracteres"
                [(ngModel)]="usuario.nombre"
                required></ion-input>
              </ion-item>
              
              <ion-item>
                <ion-label>Password</ion-label>
                <ion-input name="password"
                type="password"
                minlength="6"
                placeholder="Mínimo 6 caracteres"
                [(ngModel)]="usuario.password"
                required></ion-input>
              </ion-item>
              
            </ion-list>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <ion-button type="submit"
            color="tertiary"
            shape="round">
            Crear usuario
          </ion-button>
        </ion-col>
      </ion-row>
      
    </form>
  </ion-grid>
  
</ion-slide>

</ion-slides>


</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    
    <ion-row>
      
      <ion-col>
        <ion-button shape="round"
        expand="full"
        size="small"
        fill="outline"
        color="tertiary"
        (click)="back()">
        Ingresar
      </ion-button>
    </ion-col>
    
    <ion-col>
      <ion-button shape="round"
      expand="full"
      size="small"
      fill="outline"
      color="tertiary"
      (click)="next()">
      Registrarme
    </ion-button>
  </ion-col>
  
</ion-row>

</ion-toolbar>
</ion-footer>