.titulo {
    margin: 20px;
    text-align: left;
    font-size: 25px;
}

.imagen {
    margin-bottom: 10px;
}

ion-col{
    padding-inline: 15px;
}

.label {
    margin-left: 5px;
}

.fecha {
    margin-left: 50px;
}

.text-area {
    width: 100%;
    padding:10px;
}

.boton {
    text-align: center;
}